

.navbar{
	background-color: #FF795B;
    padding: 0px!important;
     -webkit-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
-moz-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
height: 100px;
}
ul.dropdown-menu{
	
    border-radius: 0px;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 16px;
    text-decoration: none;
  padding: 0px;
  list-style-type: none;
  -webkit-animation: mymove 0.5s;
  animation: mymove 0.5s;
    background-color: #eb3719;
    -webkit-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
-moz-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
}
li.dropdown:hover ul.dropdown-menu{
    display: block;
}

.dropdown-menu li:hover a{
  color: #ec5626;
}

.dropdown-menu li{
  border-bottom: 1px solid #ccc;
  padding: 20px;
  display:block;

}
.dropdown-menu li a{
 color: white;
 text-decoration: none;
 text-transform: capitalize;
}
@keyframes mymove {
    from {
      left:  100px;
         height: 0px;
         opacity: 0;
         border-bottom:0px;
    }
    to {
        height: auto;

    }
}

.navbar-nav a.nav-link{
    font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
    padding: 0px !important;
	color: white;
	
}
ul.navbar-nav li.nav-item{
  margin: 0 20px;
}
ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}
.navbar-nav .nav-item:hover:after {
    width: 100%;
    background:#eb3719;
}


 .container {
  
    padding: 50px 0;
}   
 

.adminform {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #F8513E;
}

.adminform h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #F8513E;
}

.adminform .box {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #F8513E;
    border-radius: 5px;
    font-size: 16px;
}


.adminform .btn {
    background-color: #F8513E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.adminform .btn:hover {
    background-color: #d64230;
}
.adminform:active {
    box-shadow: 0 0 15px #F8513E;
}


.adminform .box:active {
    border-color: #F8513E;
}


.productdisplay table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-top: 20px;
}

.productdisplay th {
    background-color: #FF795B;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.productdisplay tr:nth-child(even) {
    background-color: #f2f2f2;
}

.productdisplay td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.productdisplay tr:hover {
    background-color: #FF795B;
}


.productdisplay {
    margin: 0 auto; 
    max-width: 800px;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.message-block {
    display: none;
    margin-top: 10px; 
    color: #FF795B;
    font-size: 16px; 
    font-weight: bold;
}

.message-block.active {
    display: block;
}

.product-image {
    max-width: 100px; 
    height: auto;
    display: block;
    margin: 0 auto; 
}


.clear-session {
    display: flex;
    align-items: center;
    justify-content: center;

}
.productdisplay {
    margin-bottom: 20px;
}
.detail{
	display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 20px;
}
.image-container{
	width: 100%;
	
}
.image-container p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.image-container:hover p {
    opacity: 1;
    transform: translateY(0);
}

.image-container img {
    transform: scale(1);
    transition: transform 0.5s;
	
}

.image-container:hover img {
    transform: scale(1.05);
}


.gallery {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
}


.gallery h2 {
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #FF795B;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}


.gallery-image {
    width: 100%;
    height: auto; 
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-image img {
    width: 100%; 
   
    transition: transform 0.3s, box-shadow 0.3s;
}


.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.footer-bg {
	background-color: #F8513E;
  }
  
 
  .footer-logo {
	width: 140px;
  }
  
 
  .footer-section {
	margin-left: 20px;
  }
 
  .footer-heading {
	color: white;
	font-size: 18px;
	margin-bottom: 10px;
  }

  .footer-text {
	color: white;
  }
  
  .footer-link {
	color: white;
	text-decoration: none;
  }
  
 
  .footer-icon {
	color: white;
	font-size: 24px;
	margin-right: 10px;
  }
  
   .image-slider {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: auto;
}

.slider-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    text-align: center;
    width: 80%;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

